import { Labels, S{{ state.id }}, SendState, ReceiveState, TerminalState } from './EFSM';
import { EfsmNextStateHandler, MessageHandler } from './Session';

{% for action in state.actions -%}
type {{ action.label ~ 'Message' }} = {
  label: Labels.S{{ state.id }}.{{ action.label }},
  payload: []
}
{% endfor %}

type Message = {% for label in state.labels -%}{{ label ~ 'Message' ~ (' | ' if not loop.last else '') }}{%- endfor %}

export function buildStateHandler(
  next: EfsmNextStateHandler,
  register: (messageHandler: MessageHandler) => void
) {

  return (handler: S{{ state.id }}) => {
    // Define message handler.
    const messageHandler = (message: any) => {
      
      const parsedMessage = JSON.parse(message) as Message;
      switch (parsedMessage.label) {
        {% for action in state.actions -%}
        case Labels.S{{ state.id }}.{{ action.label }}: {
          const successor = handler[parsedMessage.label]();
          {% if endpoint.efsm.is_send_state(action.succ) -%}
          return next(SendState.S{{ action.succ }})(successor);
          {% elif endpoint.efsm.is_receive_state(action.succ) -%}
          return next(ReceiveState.S{{ action.succ }})(successor);
          {% else -%}
          return next(TerminalState.S{{ action.succ }})(successor);
          {% endif %}
        }
        {%- endfor %}
      }
    }

    register(messageHandler);
  }
}