export enum Session { Terminate = 'Terminate' };

export enum Roles 
{
  {% for role in efsm.roles -%}
  {{ role }} = "{{ role }}" {{ ', ' if not loop.last else '' }}
  {% endfor %}
}

export namespace Labels
{
  {% for state_id, state in efsm.receive_states.items() -%}
  export enum S{{ state_id }} 
  {
    {% for label in state.labels -%}
    {{ label }} = "{{ label }}" {{ ', ' if not loop.last else '' }}
    {% endfor %}
  }
  {% endfor %}
  {% for state_id, state in efsm.send_states.items() -%}
  export enum S{{ state_id }} 
  {
    {% for label in state.labels -%}
    {{ label }} = "{{ label }}" {{ ', ' if not loop.last else '' }}
    {% endfor %}
  }
  {% endfor %}
}

{% if efsm.has_terminal_state() -%}
export type S{{ efsm.terminal_state }} = Session.Terminate;
{% endif -%}

{% for state_id, state in efsm.send_states.items() -%}
export type S{{ state_id }} = {% for label, action in state.actions.items() -%}
[Labels.S{{ state_id }}.{{ label }}, S{{ action.succ }}]{{ '|' if not loop.last else '' }}
{% endfor %}
{% endfor -%}

{% for state_id, state in efsm.receive_states.items() -%}
export type S{{ state_id }} = {
  {% for label, action in state.actions.items() -%}
  [Labels.S{{ state_id }}.{{ label }}]: () => S{{ action.succ }}{{ ',' if not loop.last else '' }}
  {% endfor %}
}
{% endfor %}
