import { Component } from 'react';
import { State, ReceiveState, SendState, TerminalState } from './EFSM';
import { IReceive, ReceiveHandler } from './Session';

type P = {
  register: (handle: ReceiveHandler) => void
}

enum Labels {
  {% for label in state.labels -%}
  {{ label }} = '{{ label}}',
  {%- endfor %}
}

{% for action in state.actions -%}
type {{ action.label }}Message = {
  label: Labels.{{ action.label }},
  payload: [{{ action.payloads|join(', ') }}],
};
{% endfor %}

type Message = {% for label in state.labels -%}{{ '| ' ~ label ~ 'Message' }}{%- endfor %}

export default abstract class S{{ state.id }}<
  _P = {},
  _S = {},
  _SS = any
> extends Component<
  _P & P,
  _S,
  _SS
>
{

  componentDidMount() {
    this.props.register(this.handle.bind(this));
  }

  handle(message: any): State {
    const parsedMessage = JSON.parse(message) as Message;
    switch (parsedMessage.label) {
      {% for action in state.actions -%}
      case Labels.{{ action.label }}: {
        this.{{ action.label }}(...parsedMessage.payload);
        {% if efsm.is_send_state(action.succ) -%}
        return SendState.S{{ action.succ }};
        {% elif efsm.is_receive_state(action.succ) -%}
        return ReceiveState.S{{ action.succ }};
        {% else -%}
        return TerminalState.S{{ action.succ }};
        {% endif -%}
      }
      {%- endfor %}
    }
  }

  {% for action in state.actions -%}
  abstract {{ action.label }}({%- for payload in action.payloads -%}{{ 'payload' ~ loop.index ~ ': ' ~ payload ~ ', ' }}{%- endfor -%}): void;
  {%- endfor %}

}