import { Component } from 'react';

type P = {
  {%- for label, action in state.actions.items() -%}
  {{ label }}: SendComponentFactory<any>{{ ',' if not loop.last else '' }}
  {%- endfor %}
}

export abstract class S{{ state.id }}<
  _P = {},
  _S = {},
  _SS = any
> extends Component<
  P & _P,
  _S,
  _SS
> {}