// EFSM.ts

// ======
// States
// ======

export enum SendState {
  {% for state in endpoint.efsm.send_states -%}
  S{{ state }} = 'S{{ state }}',
  {%- endfor %}
};

export enum ReceiveState {
  {% for state in endpoint.efsm.receive_states -%}
  S{{ state }} = 'S{{ state }}',
  {%- endfor %}
};

export enum TerminalState {
  {% if endpoint.efsm.has_terminal_state() -%}
  S{{ endpoint.efsm.terminal_state }} = 'S{{ endpoint.efsm.terminal_state }}',
  {%- endif %}
};

export type State = ReceiveState | SendState | TerminalState;